.counter_wrapper{
    width: 350px;
    height: 250px;
    border: 2px solid black;
    margin: 150px 450px;
    display: inline-block;
    border: 2px solid cyan;
    border-radius: 20px;
    background-color: black;
}
.value{
    width: 320px;
    height: 130px;
    margin: 10px 15px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: cyan;
}
.button_wrapper{
    width: 320px;
    height: 80px;
    margin: 10px 15px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: cyan;
    display: flex;
    justify-content: center;
}
.inc{
    margin: 25px 30px 0px 20px;
}
.dec{
    margin: 25px 30px 0px 0px;
}
.set{
    margin: 25px 0px 0px 0px;
}