.wrapper{
    width: 350px;
    height: 250px;
    border: 2px solid black;
    margin: 150px 450px;
    display: inline-block;
    border: 2px solid cyan;
    border-radius: 20px;
    background-color: black;
}
.inputs_wrapper{
    width: 320px;
    height: 130px;
    margin: 10px 15px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: cyan;
}
.button_wrapper{
    width: 320px;
    height: 80px;
    margin: 10px 15px;
    border: 2px solid red;
    border-radius: 20px;
    background-color: cyan;
    display: flex;
    justify-content: center;
}
.set_button{
    margin-top: 20px;
}
.max_input{
    margin: 30px 10px 10px 15px;
    font-size: 20px;
    font-family: sans-serif;
}
.start_input{
    margin: 15px 10px 10px 15px;
    font-size: 20px;
    font-family: sans-serif;
}